/* Log in */
.custom-btn-bg {
  background: #f3d078;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-width: 1px;
  border-style: solid;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-radius: 5px;
}

.custom-form input:focus {
  outline: none;
  box-shadow: 1px 1px 10px 5px #f3d078;
}
input {
  border-width: 1px;
  border-style: solid;
  border-color: #8d9096;

  border-radius: 4px;
}

.a-divider {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
}

.a-divider h5 {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 8px 0 7px;
}
.a-box .a-divider.a-divider-break:after,
.a-color-base-background .a-divider.a-divider-break:after,
.a-divider.a-divider-break:after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}
