.HeaderBottom {
  background-color: #232f3e;
  padding: 0 3rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 5rem;
  padding: 1rem 0;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:active,
a:hover {
}
